name: test

on:
  pull_request:
  push:

 {% raw %}
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Create virtual env
        run: |
          python -m pip install poetry
          poetry install
      - run: poetry run pre-commit run --all-files

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Create virtual env
        run: |
          python -m pip install poetry
          poetry install
      - run: poetry run pytest
 {% endraw %}
